.FooterPic {
    max-width: 100%;
    position: relative;
    top: 0px;
}

.black {
    background-color: black;
    height: 50px;
    color: white;
    padding-top: 5px;
}

a {
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    padding-left: 15px;
    text-decoration:none;
}

.copyright {
    font-size: 10px;
}




@media screen and (min-width: 480px) {

    .FooterPic {
        position: relative;
        top: 80px;
        z-index: 0;
    }

    .black {
        position: relative;
        z-index: 1;
    }
  
    
  }