.AppData {
  width: 100vw;
  min-height: 100%;
  margin-top: 0;
  background-image: linear-gradient(rgb(74, 181, 234), rgb(145, 220, 240));
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
} 

.cloud {
  background-image: url(./components/cloudbgtrans.png);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  background-blend-mode: multiply;
}

.content {

  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  position: relative;
  bottom: 150px;
  width: 85%;
  height: 100%;
  padding-bottom: 0px;
  margin-bottom: -80px;
  box-shadow: 2px 3px 20px 1px #888888;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}


main {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  

}

@media only screen and 
(max-width: 480px) {
  main {
    flex-direction: column;
  }

  .content {
    padding-bottom: 190px;
  }


}



@media screen and (min-width: 480px) {

  .content {
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-left: 45px;
    margin-bottom: -350px;
  }

  
}